.banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
    padding-top: 20px;
}

.info-heading {
    font-size: 45px;
    color: rgb(32, 32, 32);
    line-height: 60px;
    margin-bottom: 50px;
    max-width: 80%;
}

.your-Opportunities {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
}

.Opportunity-info {
    display: flex;
    margin-bottom: 30px;
}

.Opportunity-info span {
    margin-left: 20px;
}

.Opportunity-info span h5 {
    color: rgb(46, 46, 46);
    margin-bottom: 7px;
    font-size: 16px;
}

.Opportunity-info span p {
    font-size: 12px;
    color: grey;
    line-height: 18px;
}

.banner-info button {
    background-color: rgb(15, 174, 174);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 9px 20px;
    font-weight: 500;
    font-size: 16px;
}

/* --------------------icons------------------- */
.Opportunities-icons {
    color: rgb(15, 174, 174);
    font-size: 25px;
}


/* ----------------banner-info end ------------------------ */

.banner-img {
    position: relative;
}

.doctor-img {
    position: relative;
    height: 550px;
    width: 500px;
    top: -20px;
    right: -120px;
    z-index: 1;
}

.group {
    position: absolute;
    top: 50px;
    right: 0px;
}

.locationLogo {
    position: absolute;
    top: 150px;
    left: 160px;
    width: 63px;
    min-height: 20px;
}

.messengerLogo {
    position: absolute;
    bottom: 122px;
    left: 180px;
    width: 63px;
    border-radius: 5px;
    z-index: -1;
    transform: rotate(-20deg);
}

.EqualizerLogo {
    position: absolute;
    right: 1px;
    bottom: 150px;
}

/* ----------------------- banner img part end ------------------------- */

/* ---------------------media query--------------------------*/

@media screen and (max-width: 768px) {
    .banner {
        grid-template-columns: 1fr;
    }

    .info-heading {
        font-size: 35px;
        min-width: 100%;
        line-height: 38px;
    }

    .banner-info {
        width: 50%;
        text-align: center;
    }

    .info-heading {
        width: 100%;
        text-align: center;
        font-size: 30px;
    }

    .your-Opportunities {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 20px;
        justify-content: center;
        text-align: left;
    }

    .EqualizerLogo,
    .messengerLogo,
    .locationLogo,
    .group {
        display: none;
    }

    .banner-img {
        width: 100%;
        margin: auto;
    }

    .doctor-img {
        position: relative;
        width: auto;
        margin: auto;
    }

}

@media screen and (max-width: 480px) {
    .banner {
        grid-template-columns: 1fr;
    }

    .info-heading {
        text-align: left;
    }

    .banner-info {
        max-width: 100%;
        text-align: left;
    }

    .your-Opportunities {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 20px;
        justify-content: center;
    }

    .EqualizerLogo,
    .messengerLogo,
    .locationLogo,
    .group {
        display: none;
    }

    .banner-img {
        width: 100%;
        margin: auto;
    }

    .doctor-img {
        position: static;
        max-width: auto;
        max-height: 50%;
    }

}